<footer class="page-footer orange">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<p class="grey-text text-lighten-4">EISI 19.2 </p>
			</div>
		</div>
	</footer>


	<!--  Scripts-->
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="/javascripts/materialize.js"></script>
	<script src="/javascripts/init.js"></script>
	<script type="text/javascript">
		
		document.addEventListener('DOMContentLoaded', function() {
			var elems = document.querySelectorAll('.collapsible');
			var instances = M.Collapsible.init(elems);
		});

  // Or with jQuery

  $(document).ready(function(){
  	$('.collapsible').collapsible();
  });

  document.addEventListener('DOMContentLoaded', function() {
  	var elems = document.querySelectorAll('select');
  	var instances = M.FormSelect.init(elems);
  });

  // Or with jQuery

  $(document).ready(function(){
  	$('select').formSelect();
  });
</script>
</body>
</html>
