<div>
        
    <% etudiants.forEach(function(etudiant){ %>
        <a href="/programmes-list/<%= etudiant._id %>" >
          <div >
            <p><%= etudiant.nom %> -- <%= etudiant.prenom %> </p>   
          </div>
        </a>
    <% }); %>  
</div>