<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body class="container">

	<header>
		<% include partials/header %>
	</header>

	<section>
		<div class="container">
			<div class="section">
				<h2> Etudiants</h2>
				<hr>
				<table>
					<thead>
						<tr>
							<th data-field="id">Etudiant</th>
							<th data-field="name"></th>

						</tr>
					</thead>

					<tbody>
						<% etudiants.forEach(function(etudiant){ %>
						<tr>
							
							<td><%= etudiant.nom %> -- <%= etudiant.prenom %></td>
							<td>
								<a class="waves-effect waves-light btn-small" href="/programmes-list/<%= etudiant._id %>">Programmes</a>
								<a class="waves-effect waves-light btn-small">Cours</a>
								<a class="waves-effect waves-light btn-small">Notes</a>
							</td>

						</tr>
						<% }); %> 
					</tbody>
				</table>
			</div>
		</div>
	</section>
	<footer class="footer-copyright">
		<% include partials/footer %>
	</footer>
</body>
</html>
