<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body class="container">

	<header>
		<% include partials/header %>
	</header>

	<section>
		<div class="container">
			<div class="section">
				

				<!--   Icon Section   -->
				<div class="row">
					<div class="col s12 m4">
						<div class="icon-block">
							<h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
							<h5 class="center"><a href="">Nouveau</a></h5>
						</div>
					</div>

					<div class="col s12 m4">
						<div class="icon-block">
							<h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
							<h5 class="center"><a href="/etudiants-list">Gestion des étudiants</a></h5>
						</div>
					</div>

					<div class="col s12 m4">
						<div class="icon-block">
							<h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
							<h5 class="center"><a href="">Paramètres</a></h5>
						</div>
					</div>
				</div>

			</div>
			<br><br>
		</div>
	</section>

	<footer class="footer-copyright">
		<% include partials/footer %>
	</footer>

</body>
</html>