<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body class="container">

	<header>
		<% include partials/header %>
	</header>
	<nav>
		<div class="nav-wrapper">
			<div class="col s12">
				<a href="/" class="breadcrumb">Acceuil</a>
				<a href="#!" class="breadcrumb">Gestions des notes</a>
			</div>
		</div>
	</nav>
	<section>
		<div class="container">
			<div class="section">
				<h2> Professeurs</h2>
				<hr>
				<br>
				<div class="row">

					<!-- programme -->
					<% profs.forEach(function(prof){ %>
					<div class="col s12 m6">
						<div class="card">
							<div class="card-image">


							</div>
							<div class="card-content">
								<p>
									<i class="large material-icons">account_circle</i>
									<%= prof.nom %> -- <%= prof.prenom %>
								</p>
								<hr>
								<center>
									<p>
										<a class="waves-effect waves-light" href="/programmes-list">Programmes</a>
										


									</p>
								</center>
							</div>
						</div>
					</div>
					<% }); %> 
				</div>


			</div>
		</div>
	</section>
	<footer class="footer-copyright">
		<% include partials/footer %>
	</footer>
</body>
</html>
