<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/head %>
</head>
<body class="container">

	<header>
		<% include partials/header %>
	</header>

	<h1>Programmes</h1>
	<%- programmes %>
	<footer class="footer-copyright">
		<% include partials/footer %>
	</footer>

</body>
</html>